## Objectives


- Gain familiarity with Jupyter notebooks
- Use and manipulate various data types
- Create, assign, and update variables
- Represent information with data types
- Use Boolean operators 
- Create and modify strings with string methods
- Create tuples
- Create dictionaries

[Reference](https://ds.codeup.com/python/data-types-and-variables/)

---
## Data Types


| Data type | Description |
|:-: |----------|
| `bool`|   Boolean values (True or False) |
| `str`  |  whole, or counting numbers |
| `float`|  decimal numbers |
| `list`| an ordered sequence of objects |
| `dict`| a collection of named values
| `NoneType` |  indicates absence of a value


###  `type` function

Returns the data type of an object. 

```python
type(object)
```

### Examples

In [1]:
type(object)

type

In [2]:
type(123)

int

In [3]:
type(True)

bool

In [4]:
type('hello')

str

In [5]:
type(False)

bool

In [6]:
type('True')

str

---

## Variables

### Assigning a variable

In [7]:
favorite_number = 42
n = favorite_number + 7

In [8]:
type(favorite_number)

int

In [9]:
print(favorite_number)

42

In [10]:
print(n)

49

In [11]:
a = 6
b = 4
print(a + b)

10

#### Troubleshooting

What is the result of the following code?

```python
a = 6
print(a + b)
b = 4
```

### Updating a variable

In [12]:
A cell we want to delete

SyntaxError: invalid syntax (1681568137.py, line 1)

In [13]:
x = 1
print(x)
# add 1 to the value of x
x = x + 1
print(x)

x = x * 3 + x
print(x)

1
2
8

#### Example: Running a cell multiple times

In [14]:
number = 6

In [15]:
number = number + 1
print(number)

7

## Boolean values


There are two Boolean values: `True` and `False`

**Note:** A Boolean value is not a string

```python
type(True)
```
```
bool
```

```python
type('True')
```
```
str
```

## Comparison operators 



#### Checks for equality
```python
==
```



#### Checks for inequality
```python
!=
```

### Examples

In [16]:
True == True

True

In [18]:
True == False

False

In [19]:
True != False

True

In [20]:
5 == 5.0

True

In [21]:
'Hello' == ' Hello'

False

## Boolean Operators


Boolean operators evaluate statements and return a Boolean value.


#### `not` statements - also known as a negation


Returns the opposite Boolean value

| A | not A 
|:-: | :-:| 
| T | F |
| F | T |



For two statements **A** and **B**

#### `and` statement - also known as a *conjunction*


    
    

| A | B | A and B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | F | 
| F | T | F | 
| F | F | F | 



#### `or` statement - also known as a *disjunction*

    

| A | B | A or B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | T | 
| F | T | T | 
| F | F | F |

In [30]:
is_first_of_the_month = True
report_has_been_sent = False



should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

True

In [32]:
#using different boolean values
is_first_of_the_month = True
report_has_been_sent = True



should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

False



## Numbers

Two commonly used number types:


`int` - Whole numbers (both positive and negative) and 0

`float` - Numbers with decimals

####  Arithmetic Operations

| Operation      | Operator | Example  |
| ---------      | -------- | -------  |
| Addition       | `+`      | `4 + 4`  |
| Subtraction    | `-`      | `9 - 1`  |
| Multiplication | `*`      | `4 * 2`  |
| Division       | `/`      | `16 / 2` |
| Exponentiation | `**`     | `2 ** 3` |



####  Comparison Operations

| Operator | Description              | Example  |
| -------- | -----------              | -------  |
| `==`     | Equal to                 | `1 == 1` |
| `!=`     | Not equal to             | `1 != 0` |
| `>`      | Greater than             | `1 > 0`  |
| `<`      | Less than                | `0 < 1`  |
| `>=`     | Greater than or equal to | `1 >= 1` |
| `<=`     | Less than or equal to    | `1 <= 1` |

### Examples

In [22]:
5 > 6

False

In [23]:
5 > 5

False

In [25]:
1 + 2 < 2.5

False

In [26]:
5 >= 5

True

In [27]:
1.25 + 1.25 <= 2.5

True

---
## Strings

Strings represent text and are enclosed by quotes.



```python
'A string in single quotes'
```



```python
"A string in double quotes"
```



```python
'''A multi-line
string in
triple quotes'''
```

### Examples

In [ ]:
my_cohort = "O'Neil" # or 'O\'Neil'

In [33]:
greeting = 'hello, there'

In [34]:
print(greeting)

hello, there

In [35]:
empty_string = ''

In [36]:
print(empty_string)

In [37]:
number = '123'

In [38]:
type(number)

str

In [39]:
print('Here is a single quote --> \' <-- ')
print("Here is a single quote --> ' <-- ")
print()
print("Here is a double quote --> \" <--")
print('Here is a double quote --> " <--')
print()
print('Newlines are indicated by the character "n" preceded by a backslash, like so')
print()
print('This string\ncontains a newline')

Here is a single quote --> ' <--
Here is a single quote --> ' <--

Here is a double quote --> " <--
Here is a double quote --> " <--

Newlines are indicated by the character "n" preceded by a backslash, like so

This string
contains a newline

### Operations with strings

In [40]:
'hello' == 'hello'

True

In [41]:
'Hello' == 'hello'

False

In [42]:
'abc' != 'def'

True

In [43]:
'abc' + 'def'

'abcdef'

In [44]:
'abc' * 3

'abcabcabc'

In [45]:
'abc ' + 'def'

'abc def'

### Examples

In [51]:
'2' + 1

TypeError: can only concatenate str (not "int") to str

### Formatting strings

In [55]:
name = 'World'

In [56]:
'Hello, %s!' % name # %s is a string, % name is the string

'Hello, World!'

In [57]:
'Hello, {}!'.format(name)

'Hello, World!'

In [58]:
f'Hello {name}!'

'Hello World!'

### Examples

In [59]:
# examples above

### String methods

A string method does not modify the original string. 

Assign the result to a new variable or update the string to use the modified string. 



| Data type | Description |
|:-: |----------|
| `.lower`|  convert to lower case
| `.upper`|  convert to upper case
| `.strip`  |  remove leading or trailing whitespace
| `.isdigit`|  tests whether a string is a number |
| `.split`| converts a string to a list |
| `.join`| converts a list to a string

### Examples

In [62]:
s = '     Hello, world!    '

In [66]:
new_string = s.lower()

In [67]:
print(new_string)

     hello, world!

In [68]:
print(s)

     Hello, world!

In [69]:
s.strip()

'Hello, world!'

In [71]:
a = '123'

In [72]:
a.isdigit()

True

In [73]:
b = '123, Main, Street'

In [77]:
b.lower().split()

['123', 'main', 'street']

In [78]:
', '.join(['one','two','three'])

'one, two, three'

---

## Lists

### Creating a list

In [80]:
number_list = [1,2,3] # a list with 3 integers
print(number_list)

[1, 2, 3]

In [81]:
string_list = ['one', 'two', 'three']
print(string_list)

['one', 'two', 'three']

In [83]:
list_of_lists = [ [1, 2, 3], [4, 5, 6], [7, 8, 9] ]
list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### List comprehensions

In [84]:
[n for n in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
[n * 2 for n in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [86]:
[n * 2 for n in range(10) if n % 2 == 0]

[0, 4, 8, 12, 16]

### List Operations

In [96]:
numbers = [1, 2, 3]

In [97]:
## add 4 to the list
numbers.append(4)
numbers

[1, 2, 3, 4]

In [98]:
numbers.pop()
numbers

[1, 2, 3]

In [99]:
len(numbers)

3

## Index

In [100]:
numbers[0]

1

In [101]:
numbers[2]

3

In [102]:
numbers[:2]

[1, 2]

In [103]:
letters = ['a', 'b', 'c', 'd', 'e']

In [104]:
len(letters)

5

In [110]:
letters[:2]  ## slices

['a', 'b']

In [111]:
letters[1:2]

['b']

In [112]:
letters[1:]

['b', 'c', 'd', 'e']

In [115]:
## converting to a list

list('abcde')

['a', ' ', 'b', 'c', ' ', 'd', 'e']

In [116]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [125]:
my_numbers = [1, 2, 3]

my_string_numbers = list(map(str, my_numbers))

In [121]:
my_numbers

[1, 2, 3]

In [126]:
my_string_numbers

['1', '2', '3']

---

## Tuples

In [128]:
my_tuple = (1, 2, 3)

type(my_tuple)

tuple

In [129]:
my_tuple[1]

2


---

## Dictionaries

In [130]:
my_dictionary = {
    
  'name'  :    'Codeup',
    
    'age'  : 9
    
    
    
}

In [132]:
my_dictionary

{'name': 'Codeup', 'age': 9}

### Creating a dictionary

In [133]:
dict(name = 'Codeup', age = 9)

{'name': 'Codeup', 'age': 9}

### Accessing dictionary values

In [135]:
school = dict(name = 'Codeup', age = 9)
school['name']

'Codeup'

In [136]:
school['age']

9

In [137]:
school['age'] +=1
## take the value of age and add one and update the dictionary
school

{'name': 'Codeup', 'age': 10}

## Changing data types

```python
int()
```

```python
str()
```

### Examples

In [138]:
a = 3 
type(a)

int

In [139]:
str(a)

'3'

In [140]:
b = '6'
int(b)

6

In [141]:
int(True)

1

In [142]:
int(False)

0

### Getting user input with `input`

```python
name = input('What is your name?')
print(name)
```

In [143]:
name = input('What is your name?')

What is your name?Garrett

In [144]:
print(name)

Garrett

In [ ]:
first_number = int(input('What is the first number?'))
second_number = int(input('What is the second number?'))

In [ ]:
sum_numbers = first_number + second_number